<!-- Modal -->
<div th:fragment="modal_form_cronograma(repository, user_id, repo_name)"
    class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="modalCronogramaLabel">Nova data importante</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <!-- Your form content goes here -->
            <form th:action="@{'/user/' + ${user_id} + '/repositories/' + ${repo_name} + '/cronograma/new'}" method="POST"
                class="row g-3 needs-validation">
                <div class="col-md-6 ">
                    <label for="nome" class="form-label">Nome</label>
                    <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome" required>
                </div>

                <div class="col-md-6 ">
                    <label for="data" class="form-label">Data:</label>
                    <input type="date" class="form-control" id="data" name="data" placeholder="Selecione uma data"
                        required>
                </div>

                <div class="col-12">
                    <label for="descricao" class="form-label">Descrição</label>
                    <textarea type="text" class="form-control" id="descricao" name="descricao"
                        placeholder="A cronograma consiste em..."> </textarea>
                </div>

                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Criar data importante</button>
                </div>

                <div class="alert alert-danger" role="alert" th:if="${errors}">
                    <ul>
                        <li th:each="error : ${errors}" th:text="${error.defaultMessage}"></li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</div>
