<div >
    <h2>Tarefas em <span th:text="${repository.name}"></span> </h2>
    <ul>
        <li th:each="tarefa : ${tarefas}">
            <p>ID: <span th:text="${tarefa.id}"></span></p>
            <p>Título: <span th:text="${tarefa.titulo}"></span></p>
            <p>ID Criador: <span th:text="${tarefa.id_criador}"></span></p>
            <p>Descrição: <span th:text="${tarefa.descricao}"></span></p>
            <p>Prazo: <span th:text="${tarefa.prazo}"></span></p>
            <p>Data de Criação: <span th:text="${tarefa.data_criacao}"></span></p>
            <p>Status: <span th:text="${tarefa.status}"></span></p>
            <p>Id Projeto: <span th:text="${tarefa.id_projeto}"></span></p>
        </li>
    </ul>
</div>